%h2活动通
%p(class="header-right")
  你好，
  =@manager
  =link_to "退出", '/manager/quit'
%div(style="height:40px;width:1000px;Background-color:#F5F5F5")
  %h5(style="padding-top:10px;")
    %span
      =link_to "首页", '/manager/quit'
    %span /修改用户密码
%div(class="modal hide fade in" style="display:block;Background-color:#F5F5F5;position:absolute;top:20%" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" )
  %br
  %div(class="modal-body" style="text-align:center;")
    %div(class="input-prepend")
      %button(class='add-on' style="height:30px;width:100px")账号
      %input(class='add-on' style="height:30px;width:300px" value=@user_name disabled)
    %br
    %br
    =form_for (:admin), :method=>'patch', url:manager_judge_login_path(@user_name) do |f|
      %div(class="input-prepend")
        =f.label :"请设置密码",:class=>"add-on",:style=>"height:30px;width:100px"
        =f.text_field :password ,:type=>"password",:style=>"height:30px;width:300px",:placeholder=>"请输入新密码"
        %br
        %br
        =f.label :"请确认密码",:class=>"add-on",:style=>"height:30px;width:100px"
        =f.text_field :password_confirm,:type=>"password",:style=>"height:30px;width:300px",:placeholder=>"请再次输入"
        -if flash[:information]
          %div(style='font-size:15px;Background-color:#FFC1C1;padding-top:5px;color:red')
            =flash[:information]
        %br
        =f.submit "确认修改"