%header
  %h1(class="header")活动列表
  %div(class="header-right")
    %a(class="btn btn-primary" ng-tap="go_to_creat_activity_page()" ng-disabled="check_creat_activity_button")创建活动
#wrapper
  %div(class="scrollable")
    %ul(class="survey-list")
      %li(style="height:50px;{{change_yellow_name(activity_of_user.activity_name)}}" class="{{activity_of_user.activity_status}}" ng-tap="go_to_sign_up_information('{{activity_of_user.activity_name}}')" ng-repeat="activity in activities") {{activity_of_user.activity_name}}

