%header(id="demo")
  %h1(class="header")创建活动
  %div(class="header-left")
    %a(class="btn icon-angle" ng-tap="go_to_activity_list_page()")返回
#wrapper
  %div(class="scrollable")
    %form(class="wrapper-inner")
      %fieldset(class="form-wrapper")
        %h5活动名称
        %input(type="text" class="input-full" ng-model="activity_name" ng-change="list_change()")
        %button(class="btn btn-block" ng-tap="creat_activity()"  ng-disabled="{{disabled}}")创建
        %h4(style="color:red" ng-show="prompt_of_repeat")*活动名称重复


