%h2活动通
%div(class="modal hide fade in" style="display:block;Background-color:#F5F5F5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" )
  %div(class="modal-header")
    %h4(style="text-align:left;")重置密码
  %div(class="modal-body" style="text-align:center;")
    %div(style="text-align:right;")
      %p
        =link_to "用户登录", '/manager/login'
    %div(class="input-prepend")
      %button(class='add-on' style="height:30px;width:100px")忘记密码问题
      %input(class='add-on' style="height:30px;width:300px" value = @user_question disabled)
      %br
      %br
    =form_for (:user), :method=>'post', :url=>user_answer_right_or_not_path(@user_question)  do |f|
      %div(class="input-prepend")
        =f.label :"忘记密码答案",:class=>"add-on",:style=>"height:30px;width:100px"
        =f.text_field :answer ,:id=>"input",:type=>"text",:style=>"height:30px;width:300px",:placeholder=>"请输入答案"
        %br
        %br
        =render 'shared/error'
        -#-if flash[:error]
        -#  %div(style='font-size:15px;Background-color:#FFC1C1;padding-top:5px;color:red')
        -#    =flash[:error]
        %br
        =f.submit "下一步"
