%h2活动通
%p(class="header-right")
  你好，
  =@current_user
  =link_to "退出", '/manager/login'
%div(style="height:40px;width:1000px;Background-color:#F5F5F5")
  %h5(style="padding-top:10px;")
    %span
      =link_to "首页", '/user/welcome'
    %span
      =link_to "/竞价列表", user_bid_list_path(@current_activity)
    %span
      \/
      =@current_bid

