%h2活动通
%div(class="modal hide fade in" style="display:block;Background-color:#F5F5F5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" )
  %div(class="modal-header")
    %h4(style="text-align:left;")重置密码
  %div(class="modal-body" style="text-align:center;")
    %div(style="text-align:right;")
      %p
        =link_to "用户登录", '/manager/login'
    =form_for (:user), :method=>'post', :url=>'/user/password_consistent'  do |f|
      %div(class="input-prepend")
        =f.label :"请设置密码",:class=>"add-on",:style=>"height:30px;width:100px"
        =f.text_field :password ,:id=>"input",:type=>"password",:style=>"height:30px;width:300px",:placeholder=>"请输入新密码"
        %br
        %br
        =f.label :"请确认密码",:class=>"add-on",:style=>"height:30px;width:100px"
        =f.text_field :password_confirm ,:id=>"input",:type=>"password",:style=>"height:30px;width:300px",:placeholder=>"请再次输入"
        %br
        %br
        =render 'shared/error'
        =render 'shared/flash'
        -#-if flash[:error]
        -#  %div(style='font-size:15px;Background-color:#FFC1C1;padding-top:5px;color:red')
        -#    =flash[:error]
        %br
        =f.submit "下一步"