%h2活动通
%p(class="header-right")
  你好，
  =@current_user
  =link_to "退出", '/manager/login'
%div(style="height:40px;width:1000px;Background-color:#F5F5F5")
  %h5(style="padding-top:10px;")
    %span
      =link_to "首页", user_welcome_path(manager:@manager,current_user_account:@pass_user)
    %span /报名列表
%div(style="height:500px;width:800px;position:absolute;right:20%;top:20%")
  %table(class="table table-condensed")
    %div(style="height:30px;Background-color:#F5F5F5")
      %h4
        报名列表
        %span(style="float:right")
          =link_to "竞价列表", user_bid_list_path(activity_name:@current_activity,manager:@manager,current_user_account:@pass_user)
    %tr
      %th(class='text-center') 编号
      %th名称
      %th人数
    -i=0
    -@sign_ups.each do |sign_up|
      %tr
        -i=i+1
        %td(text-align="center" valign="middle")
          =i
        %td(text-align="center" valign="middle")
          =sign_up.name
        %td(text-align="center" valign="middle")
          =sign_up.phone
    %div(style="position:absolute;top:80%;right:10%")
      = will_paginate @sign_ups,:previous_label=> '上一页',:next_label=> '下一页'

